.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin-left: 0;
}
.header {
    width: 100%;
    height: 100px;
    top: 0;
    background-image: url("img/header.jpg");
    background-size: contain;
    opacity: 0.8;
    position: fixed;
    width: 2000px;
}
.logo {
    width: 120px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 3;
}
.menu {
    right: 60px;
    position: fixed;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    
}
.menu li{
    list-style: none;
    font-family: 'Kaushan Script', cursive;
    vertical-align: top;
    text-align: center;
    margin-left: -45px;
    position: relative;
    
}
.menu li:hover{
    display:block;
    text-align: center;
}

.menu ul {
    list-style: none;
    font-family: 'Kaushan Script', cursive;
    display: none;
    position: relative;
}
.menu:hover ul {
    display: block;

}
a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;

}
a:hover {
    background-color: #fad700;
    color: #FFFFFF;
    text-decoration: none;
}

.menu li {
    border: none;
    width: 150px;
    text-align: center;
}
.footer {
    width: 100%;
    background-color: #fad700;
    height: 100px;
    bottom: 0;
    position: fixed;
}
.immagine{
    margin-top: 100px;
    margin-left: 38%;
}